html, body {
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

a {
  text-decoration: none; }

.custom-toggler.navbar-toggler {
  border: none; }
  .custom-toggler.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; }

.button {
  border: none; }
  .button :focus {
    border: none; }

.nav-item {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  transition-property: border-bottom;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; }
  .nav-item:hover,
  .nav-item .active {
    cursor: pointer;
    border-bottom: 1px solid black; }

.active {
  border-bottom: 1px solid black; }

.fa-regular.fa-user,
.fa-solid.fa-cart-shopping,
.fa-brands.fa-instagram,
.fa-brands.fa-spotify,
.fa-brands.fa-youtube {
  color: black; }
  .fa-regular.fa-user:hover,
  .fa-solid.fa-cart-shopping:hover,
  .fa-brands.fa-instagram:hover,
  .fa-brands.fa-spotify:hover,
  .fa-brands.fa-youtube:hover {
    opacity: 0.5;
    cursor: pointer; }

article p {
  font-size: small; }

article .name {
  font-weight: bold; }

article .addToCart:hover {
  background-color: black !important;
  color: white; }

footer {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: white; }
  footer .socials {
    display: inline-block;
    margin-top: 25px; }
  footer span {
    font-size: small; }
