html,body {
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

a{
    text-decoration: none;
    color: black; 
}

.buy {
    color: black;

    &:hover .buy-now,
    .buy-now:hover {
        color: white;
    }
}

input,
option {
    text-transform: uppercase;
}

.custom-toggler.navbar-toggler {
    border: none;

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; 
    }
}

.button {
    border: none;

    :focus{
        border: none;
    }
}

.nav-item {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    transition-property: border-bottom;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    
    &:hover,
    .active{
        cursor: pointer;
        border-bottom: 1px solid black;
        color: black;
    }
}

.active{
    border-bottom: 1px solid black;
}

.fa-regular.fa-user,
.fa-solid.fa-cart-shopping,
.fa-brands.fa-instagram,
.fa-brands.fa-spotify,
.fa-brands.fa-youtube {
    color: black;

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}

#total-amount {
    text-align: end;
    font-weight: bolder;
    border-top: 1px solid black;

    p {
        margin-top: 1em;
        margin-bottom: 0;
    }
}

h1,h2 {
    text-align: center;
    margin-top: 30px;
    font-weight: 300;
}

article {
    p,
    span {
        font-size: small;
    }
    .name {
        font-weight: bold;
    }
    .addToCart:hover {
        background-color: black !important;
        color: white;
    }
}

.price {
    font-size: large;
    font-weight: 500;
}

.checkout {
    border-top: 1px solid black;
}

form div {
    position: relative;
}

.error {
    color: red;
    font-size: 14.5px;
    margin-top: 5px;
}

input:focus {
    border: 2px solid #f2796e;
}

footer {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	background-color: white;

	.socials {
		display: inline-block;
        margin-top: 25px;
	}

    span {
        font-size: small;
    }
}